button {
	background-color: blueviolet;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.btn__desactive {
	background-color: rgba(137, 43, 226, 0.527);
	color: black;
}
.container {
	width: 80%;
	margin: 0 auto;
	display: grid;
	place-items: center;
}
table {
	border: 1px solid black;
	padding: 10px;
	width: 100%;
}
